<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow" />
  <title>Minify | Page Not Found | 404</title>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/404Page.css">
</head>

<body>
  <header class="header">
    <nav class="nav">
      <a href="/">Minify</a>
      <ul class="nav-list actions">
        <li class="nav-item"><a href="/a/sign_in">Log In</a></li>
        <li class="nav-item item-active"><a href="/sign_up">Sign Up</a></li>
      </ul>
    </nav>
  </header>
  <div class="content-block">
    <img src="/image/meditate.png" class="image image-404" alt="meditate">
    <div class="headline-wrapper">
      <h1 class="headline">Something's wrong here.</h1>
      <p class="headline-copy">
        This is a 404 error, which means you&#39;ve clicked on a bad link or entered an invalid URL.
        Maybe what you are looking for can be found at <a href="/">Minify.com</a>.
        P.S. Minify links are case sensitive.</p>
    </div>
  </div>
</body>

</html>