# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Code coverage
coverage

#deep code cahe file
**/.dccache

docker

# map created when converting from scsss to css
**/*.css.map