.orbRadio {
  float: left;
  margin-top: 0.6rem;
  .item {
    cursor: pointer;
    .wrapper {
      input[type="radio"] {
        display: none;

        &:checked + .dot:before{    
            background: #61b3de;
            border-radius: 100%;
            content: ' ';
            display: block;
            height: 1rem;
            left: 50%;
            margin: -0.5rem 0 0 -0.5rem;
            position: absolute;
            top: 50%;
            width: 1rem;
        }
      }
      .dot {
        border-radius: 100%;
        border: 0.1rem solid #61b3de;
        display: inline-block;
        height: 1.6rem;
        position: relative;
        vertical-align: middle;
        width: 1.6rem;
      }
      .label {
        margin-left: 0.7rem;
        margin-right: 1.8rem;
        vertical-align: middle;
        color: #fff;
        font-size: 1.3rem;
      }
    }
  }
}
