$primary-color: #e9801e;
$primaryLayoutColor: #2b3e4b;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  height: inherit;

  .primaryLayoutWrapper {
    background-color: $primaryLayoutColor;

    .performanceChartWrapper {
      max-height: 25rem;
      height: 25rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      .performaceChartContainer {
        overflow: visible;
        width: calc(100% - 20rem);
        float: right;
      }
    }
  }

  .linksWrapper {
    display: flex;
    flex-flow: row;
    flex: 1;
    min-height: 0;

    .linksContainer {
      display: flex;
      flex-direction: row;
      min-height: 0;
      width: 100%;

      .linksList {
        display: flex;
        flex-direction: column;
        flex: 2;
        overflow-y: auto;
        position: relative;
        background-color: #f5f6f7;
        padding-top: 1.5rem;

        .linkListItemWrapper {
          max-width: inherit;
          cursor: pointer;
          padding: 1.25rem 2.75rem 1.2rem 1.1rem;
          border-top: 1px solid #d3d4d7;
          position: relative;
          text-decoration: none;
          display: block;

          .linkListItem {
            display: flex;
            flex-direction: row;
            max-width: inherit;
            cursor: pointer;

            .checkboxContainer {
              margin-right: 1rem;
              .itemCheckbox {
                overflow: auto;
                padding: 0.75rem 0 0 0.75rem;
                margin: 1.25rem 0.3rem 4rem -0.8rem;
              }
            }

            .listItemData {
              display: flex;
              flex-direction: column;
              max-width: inherit;
              width: 95%;

              .topLineData {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
              }

              .secondLineData {
                width: 100%;
                display: block;
                word-wrap: break-word;
                margin-bottom: 0.75rem;
                overflow: hidden;

                .linkTitle {
                  width: 100%;
                  display: block;
                  flex-direction: row;
                  color: #36383b;
                  word-wrap: break-word;
                  height: 2rem;
                  font: 1.6rem "Proxima Nova";
                  -webkit-line-clamp: 1;
                  text-overflow: ellipsis;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }

              .bottomLineData {
                display: flex;
                flex-direction: row;

                .shortLink {
                  color: $primary-color;
                  font-size: small;
                }
              }
            }
          }
        }
      }

      .linkData {
        flex: 4;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        padding: 4.5rem;
        background-color: #fff;

        .mainData {
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          padding: 0;
          overflow-x: hidden;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          border-bottom: 1px solid black;

          .mainDataTopRow {
            font-size: 1.2rem;
            .infoWrapper_Divider {
              font-weight: bold;
              font-size: 1.4rem;
              margin: 0 0.5rem;
            }
          }
          .mainDataSecondRow {
            .linkDataTitle {
              font-size: 2rem;
              color: $primary-color;
            }
            a.linkDataOriginalLink {
              width: inherit;
              max-width: 100%;
              display: inline;
              word-wrap: break-word;
              font-size: 1.2rem;
              color: #828387;
            }
          }

          .mainDataBottomRow {
            display: flex;
            flex-direction: row;
            padding: 24px 0;
            align-items: center;
            .bottomRowItem {
              margin: 0 16px 0 0;
              .shortLink {
                color: $primary-color;
                font-size: 1rem;
              }
              button {
                border: 1px solid $primary-color;
                border-radius: 0.8rem;
                padding: 2px 8px;
                background-color: white;
                color: $primary-color;
                cursor: pointer;
                transition: all 0.1s;
                &:hover {
                  background-color: $primary-color;
                  color: white;
                }
              }
            }
          }
        }

        .clicksData {
          border-bottom: 1px solid black;
          margin-left: auto;
          margin-right: auto;
          max-width: 100%;
          .totalClicksDisplay {
            .totalClicksTitle {
              .totalClicksData {
                font-size: 8rem;
              }
            }
            .totalClicksDescription {
              font-size: 1.5rem;
            }
          }
        }

        .referrerBlock {
          .referrerTitle {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
