.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
}

.linksWrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
  min-height: 0;
}
.linksWrapper .linksContainer {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  min-height: 100vh;
}
.linksWrapper .linksContainer .linksList {
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow-y: auto;
  position: relative;
  background-color: #f5f6f7;
  padding-top: 1.5rem;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper {
  max-width: inherit;
  cursor: pointer;
  padding: 1.25rem 2.75rem 1.2rem;
  border-top: 1px solid #d3d4d7;
  position: relative;
  text-decoration: none;
  display: block;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem {
  display: flex;
  flex-direction: row;
  max-width: inherit;
  cursor: pointer;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .checkboxContainer .itemCheckbox {
  overflow: auto;
  padding: 0.75rem 0 0 0.75rem;
  margin: 1.25rem 0.3rem 4rem -0.8rem;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .listItemData {
  display: flex;
  flex-direction: column;
  max-width: inherit;
  width: 90%;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .listItemData .topLineData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .listItemData .secondLineData {
  width: 100%;
  display: block;
  word-wrap: break-word;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .listItemData .secondLineData .linkTitle {
  width: 100%;
  display: block;
  flex-direction: row;
  color: #36383b;
  word-wrap: break-word;
  height: 2rem;
  font: 1rem "Proxima Nova";
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: nowrap;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .listItemData .bottomLineData {
  display: flex;
  flex-direction: row;
}
.linksWrapper .linksContainer .linksList .linkListItemWrapper .linkListItem .listItemData .bottomLineData .shortLink {
  font-size: small;
}
.linksWrapper .linksContainer .linkData {
  flex: 4;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  padding: 4.5rem;
  background-color: #fff;
}
.linksWrapper .linksContainer .linkData .mainData {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-bottom: 1px solid black;
}
.linksWrapper .linksContainer .linkData .mainData .mainDataSecondRow a.linkDataOriginalLink {
  width: inherit;
  max-width: 100%;
  display: inline;
  word-wrap: break-word;
  color: #828387;
}
.linksWrapper .linksContainer .linkData .mainData .mainDataBottomRow {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  align-items: center;
}
.linksWrapper .linksContainer .linkData .mainData .mainDataBottomRow .bottomRowItem {
  margin: 0 16px 0 0;
}
.linksWrapper .linksContainer .linkData .clicksData {
  border-bottom: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*# sourceMappingURL=Home.module.css.map */
